  <footer class="site-footer">

    <div class="footer-bottom">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div class="footer-text">
              2017 © Kaizen Conseil. Tous droits réservés. <br/>
              <%= link_to "Mentions Légales", "legal.html", class: "mentions" %>
            </div>

            <div class="social-list">
              <ul>
                <li><a href="https://www.facebook.com/kaizenconseil.fr" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/MrCohenJonathan" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jonathancohenkaizenconseil" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>

          </div>

        </div>

      </div>

    </div>

  </footer>
