
<div class="site-wrapper">

  <div class="site-body">

    <section id="pricing" class="section">

      <div class="section-row-container">

        <div class="section-row">

          <div class="container">

            <div class="row">

              <div class="col-lg-12">

                <h1 class="section-title">
                  Mentions légales
                </h1>

              </div>

            </div>

            <div class="row">

              <div class="row">

                  <div class="col-xs-12 col-md-12">

                    <div class="icon-box" data-animation-name="fadeInUp">
                      <div class="icon">
                        <i class="gi gi-lightbulb"></i>
                      </div>
                      <div class="info">
                        <h4>Informations juridiques</h4>
                        <p>Kaizen Conseil<br>
                        8, rue du Delta 75009 Paris<br>
                        SARL au capital de 1 000 euros<br>
                        RCS de Paris N° 804 781 623<br>
                        Gérant : Jonathan Cohen<br>
                        Numéro de TVA intracommunautaire : FR76804781623<br>
                        Code APE : 6420Z<br>
                        </p>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-xs-12 col-md-12">

                    <div class="icon-box" data-animation-name="fadeInUp">
                      <div class="icon">
                        <i class="gi gi-lightbulb"></i>
                      </div>
                      <div class="info">
                        <h4>Propriété intellectuelle</h4>
                        <p>Les logos, marques, notamment Kaizen, Kaizen Conseil, Kaizen Expertise, Kaizen Finance, Kaizen Patrimoine, Kaizen Audit, Kaizen Coworking & Kaizen Domiciliation, textes et illustrations sont protégés par les lois de copyright et de propriété intellectuelle. Toute reproduction, exploitation, traduction, modification, sous toute forme ou par quelque moyen que ce soit, est formellement interdite, sauf autorisation préalable et écrite de la part des auteurs et responsables de ce site. Toute infraction à ces dispositions est constitutive du délit de contrefaçon.</p>
                      </div>
                    </div>

                  </div>

                  <div class="col-xs-12 col-md-12">

                    <div class="icon-box" data-animation-name="fadeInUp">
                      <div class="icon">
                        <i class="gi gi-lightbulb"></i>
                      </div>
                      <div class="info">
                        <h4>Responsable de la publication</h4>
                        <p>Monsieur Jonathan Cohen.</p>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-xs-12 col-md-12">

                    <div class="icon-box" data-animation-name="fadeInUp">
                      <div class="icon">
                        <i class="gi gi-lightbulb"></i>
                      </div>
                      <div class="info">
                        <h4>Hébergeur du site</h4>
                        <p>
                        Le site internet est hébergé par la société OVH (www.ovh.com) dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix - France. </p>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-xs-12 col-md-12">

                    <div class="icon-box" data-animation-name="fadeInUp">

                      <div class="info">
              <%= link_to "Retour au site", "index.html", class: "mentions" %>

                      </div>
                    </div>
                  </div>

                </div>

            </div>

          </div>

        </div>

      </div>
    </section>

  </div>

</div>

<script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="assets/plugins/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="assets/plugins/mfp/jquery.mfp-0.9.9.min.js"></script>
<script type="text/javascript" src="assets/plugins/mediaelement/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap3.min.js"></script>
<script type="text/javascript" src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/plugins/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="assets/plugins/form/jquery.form.min.js"></script>
<script type="text/javascript" src="assets/plugins/form/jquery.validate.min.js"></script>
